h1 {
    color: green;
}

p {
    color: coral;
    font-size: 32px;
    font-weight: 700;
    /* font-family: cursive; */
    font-style: italic;
    text-align: center;
    /* text-decoration: underline wavy; */
}

a {
    text-decoration: none;
}