/* #html#html#html#html#html#html#html#html#html#html#html {
    background-color: dimgray;
} */

/* li#html.html {
    background-color: darkblue;
} */

/* #html.html {
    background-color: darkmagenta;
} */

#html {
    background-color: deeppink;
}

/* .html.html.html.html.html.html.html.html.html.html.html {
    background-color: cadetblue;
} */

.html {
    background-color: cadetblue;
}

li {
    background-color: green;
    color: aquamarine;
}

li {
    background-color: orange;
}

li {
    background-color: cornflowerblue;
    color: darkslateblue;
}

/* .html {
    background-color: crimson;
} */